<footer class="row">
        <div class="container">
            <div class="row sidebar sidebar_footer">
                <div class="col-sm-3 widget widget1 w_in_footer widget_about" style="min-height: 298px;">
                    <h5 class="widget_title">About Video Cafe</h5>
                    <div class="row m0 inner">
                        <a href="/"><img src="https://i.ibb.co/vQZP1f0/Screenshot-2019-05-23-at-10-11-54-AM.png" alt=""></a><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                    </div>
                </div>
                <div class="col-sm-3 widget widget2 w_in_footer widget_subscribe" style="min-height: 314px;">
                </div>
                <div class="col-sm-3 widget widget3 w_in_footer widget_tags" style="min-height: 330px;">
                </div>
                <div class="col-sm-3 widget widget4 w_in_footer widget_twitter" style="min-height: 346px;">
                </div>
            </div>
        </div>
    </footer>